/*!
 * @theme baxter
*/

@import "default";

section {
    background: rgb(90, 90, 90);
    background: radial-gradient(farthest-corner at 25% 35%,
            rgba(90, 90, 90, 1) 0%,
            rgba(50, 50, 50, 1) 35%,
            rgba(25, 25, 25, 1) 100%);
    position: relative; /* Ensure child elements like the logo are positioned relative to the body */
}

.logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px; /* Adjust the size as needed */
}

@font-face {
    font-family: "BrownStd";
    src: url("./assets/Brown-Regular.otf") format("opentype");
}

@font-face {
    font-family: "BrownStd Light";
    src: url("./assets/Brown-Light.otf") format("opentype");
}

section {
    font-family: "BrownStd", sans-serif !important;
}

/* section * {
    color: #ffffff !important;
} */

section.lead * {
    text-align: center;
}

section.lead h1 {
    font-size: 86px;
    letter-spacing: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: rgb(255, 255, 255) !important;
}

section.lead h2 {
    font-family: "BrownStd Light", sans-serif !important;
    letter-spacing: 3px;
    font-size: 14px;
}
section p {
  font-size: 21px;
}
b,
strong {
  color: rgb(12, 71, 180) !important;
}